*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* position: relative; */
    background-color: #D2b48c;
}
.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    /* overflow-x: scroll; */
}
.product{
    margin-top: 10%; 
    margin-bottom: 5%;
    /* margin: 0; */
    width: 70%;
    /* display: grid;
    grid-auto-flow: row;
    gap: 1em; */
    text-align: center;
    height: 100vh;
}

.container img{
    
    max-width: 320px;
    float: left;
    border: 3px solid #0954;
    border-radius: 10px ;
    margin: 0 20px 15px 0;
}

.text-box h3{
    font-size: 42px;
}

.text-box p{
    font-size: 16px;
    height: 100%;
}
.text-box{
    margin-top: 0;
}
/* footer{
    width: 100%;
    position: absolute; 
    bottom: 0;
    left: 0;
} */

@media(max-height: 740px){
    .container{
        height: 100%;
    }
    .product{
        height: 100%;
    }
}