* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} */

body{
    background-color: #D2b48c;
    width: 100%;
    
}




.container{
    margin: 10px 50px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: minmax(30vh,160px); */
    gap: 1em;
    
}  

.container a{
    text-decoration: none;
    
}

.container a  img{
    
    /* height: 100%; */
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    
    
}
.container a  video{
    
    /* height: 100%; */
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.container img:hover{
    transform : scale(1.1);
}




@media(max-width: 700px){
    .container{
        margin: 10px 25px;
        grid-template-columns: repeat(3, 1fr);
        gap: .25em;  
    }
    .container img:hover{
        transform : scale(1.05);
    }
}